@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@layer components {
  .card {
    background-color: #424242;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    height: 3rem;
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .white-icon {
    filter: contrast(.1) brightness(10);
  }

  /* .flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
  } */
}

html,
body,
div#__next {
  height: 100%;
  width: 100%;
}

main {
  height: calc(100vh - 60px);
  overflow: auto;
}