@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

html,
body,
div#__next {
  height: 100%;
  width: 100%;
}
main {
  height: calc(100vh - 48px);
}
