@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@layer components {
  .card {
    background-color: #2f2f2f;
    height: 3rem;
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .white-icon {
    filter: contrast(.1) brightness(10);
  }

  .scroll-container {
    overflow: hidden;
    padding-right: 15px;

  }

  .scroll-container:hover {
    overflow: auto;
    padding-right: 0;
  }
}

html,
body,
div#__next {
  height: 100%;
  width: 100%;
}

main {
  height: calc(100vh - 60px);
  overflow: auto;
}